.b {
    background-color: rgb(129, 128, 128);
}

.n {
    background-color: rgb(235, 30, 30);
    border-bottom-left-radius: 2rem;
    padding: 2rem 0.5rem;
}

.n .u {
    text-align: right;
    list-style: none;
}

.n .n-l {
    display: inline;
    padding: 1rem;
}

.n .link {
    text-decoration: none;
    color: white;
}

.n .n-o {
    text-align: left;
    list-style: none;
    text-decoration: none;
}

.n .o-l {
    display: inline;
    padding: 1rem;
}

.n .n-s {
    color: white;
    text-decoration: none;
}

.img {
    display: block;
    margin: auto;
    max-width: 300px;
    padding: 0.5rem;
}

.h {
    text-align: center;
    color: white;
}

.movie {
    color: rgb(253, 249, 249);
    text-align: center;
    background-color: rgb(240, 37, 37);
    border-radius: 0.5rem;
}

.p {
    color: rgb(253, 249, 249);
}

.mh {
    color: white;
}